.fixed-tasks, .main-tasks {
    padding: 10px;
    font-size: .9rem;
    font-family: "Nunito";
    color: white;
    width: 30rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

label {
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

.task {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.more-icon {
    align-self: center;
    cursor: pointer;
    width: 20px;
    height: 20px;
    opacity: 0.5;
    transition: opacity 0.2s;
}

.more-icon:hover {
    opacity: 1;
}

.task-texts {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.task-texts .task-label {
    font-weight: bold;
    font-size: 15px;
    user-select: none;
}

.task-texts .task-description {
    color: var(--light-gray);
    margin-top: 10px;
}

.task-check {
    cursor: pointer;
    margin: 0;
    width: 1.5rem;
    height: 1.5rem;
    color: #363839;
    border: 1px solid var(--dark-gray);
    border-radius: 4px;
    appearance: none;
    outline: 0;
    transition: background-color 175ms;
    background-color: var(--primary-gray);
}

.task-check::before {
    content: '';
    display: block;
    width: .5rem;
    height: 1rem;
    border-style: solid;
    border-color: white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    margin: 5% auto auto auto;
}

.task-check:checked {
    color: white;
    border-color: var(--light-pink);
    background-color: var(--light-pink);
}

.task-check:checked::before {
    opacity: 1;
}

.task-check:checked~.task-texts .task-label::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.task-label::before {
    position: absolute;
    content: attr(data-content);
    color: #9c9e9f;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: #363839;
    transition: clip-path 200ms;
}

.fixed-task .pin-icon {
    width: 15px;
    height: 15px;
    margin: 0 10px 0 10px;
}

.fixed-tasks div.task:last-child::after {
    content: '';
    display: block;
    width: 30rem;
    height: 1px;
    background-color: var(--dark-gray);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}