.menu {
    position: absolute;
    background-color: var(--dark-gray);
    list-style: none;
    padding: 10px;
    display: none;
    right: 0;
    transform: translate(calc(50% - 10px), 50%);
    border-radius: 8px;
    z-index: 2;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.menu.active {
    display: block;
}

.menu li {
    padding: 5px;
    display: flex;
    align-content: center;
    cursor: pointer;
    font-size: 15px;
}

.task {
    position: relative;
}

.icon {
    width: 15px;
    height: 15px;
    margin: 0 10px;
}